html, body, header, #intro {
    height: 100%;
}

#intro {
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: white;
}
a{
    color:black; /* cor dos links */
    text-decoration: none;  /* sem sublinhado */
}
.top-nav-collapse {
    background-color: white;
}

@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
        background-color: white;
    }
}

@media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
        background-color: white;
    }
}